
body{
    margin:1%;
}

#sec1{
    display:flex;
    justify-content: space-around;
    margin-top: 10px;
    align-content: space-between;

}
#sec2{
    display:flex;
    justify-content: space-around;

}
#sec3{
    display:flex;
    justify-content: space-around;

}
#sec4{
    display:flex;
    justify-content: space-around;

}
img{
    width:20%;
}